
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MyLayout</title>
</head>
 
<body>
    <header>
        <div style="height:90px">
            <img src="~/src/Image/MusicPlayer/close.png">
        </div>
    </header>
    <main role="main">
        @RenderBody()
    </main>
</body>
</html>
